* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  color: inherit;
  font: inherit;
  box-sizing: border-box;
  background-color: transparent;
}

button {
  cursor: pointer;
}